.map {
    display: block;
    clear: both;
    margin-top: 30px;
    height: 420px;
}

.back-button,
.center-button {
    position: relative;
    top: 44px;
    color: #808080;
}

::ng-deep .back-button .dx-button-content,
::ng-deep .center-button .dx-button-content {
    padding: 7px 15px 8px;
}

.back-button {
    float: left;
}

.center-button {
    float: right;
}
